* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
}

/*header*/

header{
    background-color: #F2F2F2;    
    color: #8c1c03;    
}

header h1{
    border-bottom: solid;    
}

header p{ 
    padding-top: 10px;
    margin-bottom: 15px;
}

/* containers */

.container{
    display: flex;
    flex-direction: row;    
}

.container-form{
    width: 30%;    
}

/*formulários*/

.formulario{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.container-texto{
    width: 30%;    
}

.meio{
    border-style: solid;
    border-width: 1px;
    border-color: #666;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;   

}

#container3{
    margin-top: 10px;
}

#titulomeio{
    font-weight: bolder;
}

.latas{
    line-height: 25px;
}

.div-status{ 
    color: #8C1C03;
    padding: 0 5%;
    font-size: 0.8rem;
    font-weight: bolder;
    line-height: 16px;
    text-align: center;
}

.div-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%; 
}

.input{
    width: 40%;
    text-align: center;
    padding: 5px 0px;
    font-weight: bolder;
}

/*botões*/

.botao{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0;
    color: #F2F2F2;
    background-color: #8C1C03;
    cursor: pointer; 
}

.hidden{
    display: none;
}